<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="false"
         failOnWarning="false">
    
    <php>
        <env name="WP_TESTS_DIR" value="/Users/pitu/wordpress-tests/tests/phpunit"/>
	    <env name="WP_CORE_DIR" value="/Users/pitu/wordpress-tests/wordpress"/>
	    <env name="DB_NAME" value="local"/>
	    <env name="DB_USER" value="root"/>
	    <env name="DB_PASSWORD" value="root"/>
	    <env name="DB_HOST" value="localhost"/>
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
